* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1160px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background: #222222;
  color: white;
  position: relative;
}

.header svg {
  fill: white;
}

.header svg:hover {
  fill: #F16D7F;
}

.header__logo {
  margin-right: 41px;
  text-decoration: none;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.header__item:not(:last-child) {
  margin-right: 33px;
}

.header__item:last-child {
  position: relative;
}

.header__item:last-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 12px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  background: #F16D7F;
  top: -8px;
  right: -10px;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .burger {
  margin-top: 3px;
}

.header .burger svg {
  fill: white;
}

.header .burger svg:hover {
  fill: #F16D7F;
}

.header .burger label {
  cursor: pointer;
}

.header .burger input {
  display: none;
}

.header .burger .menu:checked ~ .burger__nav {
  display: block;
}

.header .burger .menu:not(checked) ~ .burger__nav {
  display: none;
}

.header .burger__wrap {
  position: relative;
}

.header .burger__wrap img {
  position: absolute;
  right: 16px;
  top: -16px;
}

.header .burger__nav {
  background: white;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  width: 232px;
  height: 764px;
  right: 0px;
  top: 80px;
  font-size: 14px;
  padding-top: 37px;
  padding-left: 34px;
  z-index: 10;
}

.header .burger__nav h2 {
  color: black;
  padding-bottom: 24px;
}

.header .burger__nav h3 {
  color: #F16D7F;
}

.header .burger__nav ul {
  list-style: none;
  padding-bottom: 20px;
}

.header .burger__nav li {
  padding-left: 22px;
  padding-top: 11px;
}

.header .burger__nav a {
  text-decoration: none;
  color: #6F6E6E;
}

.header .burger__nav a:hover {
  color: #F16D7F;
}

.pagetitle {
  height: 148px;
  background: #F8F3F4;
}

.pagetitle__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.pagetitle__name {
  color: #F16D7F;
}

.promo {
  background: #F1E4E6;
  height: 764px;
}

.promo__title {
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

@media (min-width: 810px) {
  .promo__title .logo-mini {
    display: none;
  }
}

@media (max-width: 810px) {
  .promo__title .logo {
    display: none;
  }
}

.promo h1 {
  font-size: 48px;
}

.promo h2 {
  font-size: 32px;
}

.promo__decor {
  color: #F16D7F;
}

.promo__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(img/man.png) no-repeat;
  background-position-x: -223px;
  background-position-y: bottom;
}

.category {
  margin: 65px 0 65px 0;
}

.category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* gap: 30px; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category .type {
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-position: center;
}

.category :not(:last-child) {
  width: 360px;
  height: 260px;
  margin-bottom: 30px;
  width: 32%;
}

.category h3 {
  color: white;
  font-size: 16px;
  text-align: center;
}

.category__women {
  background-image: url(img/blur.png), url(img/Forwomem.jpg);
}

.category__men {
  background-image: url(img/blur.png), url(img/Formen.png);
}

.category__kids {
  background-image: url(img/blur.png), url(img/forkids.png);
}

.category__accesories {
  background-image: url(img/blur.png), url(img/accesorises.png);
}

.category__decor {
  color: #F16D7F;
  font-size: 24px;
}

.shop h1 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.shop__discription {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.shop__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}

.shop__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  height: 581px;
  margin-bottom: 30px;
  background: #F8F8F8;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop__card:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.shop button {
  width: 138px;
  height: 43px;
  cursor: pointer;
  background: none;
  color: white;
  border: 1px solid white;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px;
}

.shop .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  width: 360px;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop__card:hover .overlay {
  opacity: 1;
}

.shop__card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 161px;
  padding-top: 24px;
  margin: 0 18px 20px 18px;
}

.shop__card-text h3 {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.shop__card-text h3:hover {
  color: #F16D7F;
}

.shop__card-text p {
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.shop__card-text h4 {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.shop__card-text a {
  text-decoration: none;
}

.shop .browse-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 18px 0 95px 0;
}

.shop .browse-all__button {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 38px 14px 38px;
  border: 1px solid #F16D7F;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop .browse-all__button:hover {
  background: #F26376;
  color: white;
}

.shop .browse-all__button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.special {
  background: #222224;
  height: 341px;
}

.special__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 30px;
}

.special__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  height: 134px;
}

.special h5 {
  color: #FBFBFB;
  font-size: 20px;
  line-height: 24px;
}

.special p {
  color: #FBFBFB;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.subscribe {
  height: 448px;
  background-image: url(img/footer_bgi_blur.png), url(img/footer_bgi.png);
  background-size: cover;
}

.subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.subscribe .girl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
}

.subscribe .girl__img {
  height: 96px;
  width: 96px;
}

.subscribe .girl__text {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 557px;
}

.subscribe__form legend {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}

.subscribe__form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
  border: none;
}

.subscribe .input {
  color: #222224;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
  border: 0px solid;
  background: #E1E1E1;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 50px;
  padding: 22px;
}

.subscribe .submit {
  font-size: 14px;
  line-height: 17px;
  border: 0px solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50px;
  color: white;
  background-color: #F16D7F;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.footer {
  height: 79px;
  background: #222224;
}

.footer__legal {
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.3px;
}

.footer .fab {
  color: white;
  cursor: pointer;
}

.footer .fab:hover {
  color: #F26376;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb li + li:before {
  padding: 4px;
  color: black;
  content: "/";
}

.breadcrumb li a {
  color: #636363;
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb__list {
  text-decoration: none;
  font-size: 14px;
  list-style: none;
  color: #F16D7F;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  margin-top: 81px;
  margin-bottom: 128px;
}

@media (max-width: 1030px) {
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

@media (max-width: 1030px) {
  .cart__list {
    width: 100%;
  }
}

.cart__list .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__list .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 306px;
  width: 100%;
  margin: 15px;
  -webkit-box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

@media (max-width: 650px) {
  .cart__list .cards .card {
    height: 188px;
  }
}

.cart__list .cards .card__image img {
  height: 100%;
  width: 306px;
}

@media (max-width: 650px) {
  .cart__list .cards .card__image img {
    height: 100%;
    width: 188px;
  }
}

.cart__list .cards .card__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 22px;
  margin-left: 31px;
}

@media (max-width: 650px) {
  .cart__list .cards .card__text {
    margin-left: 17px;
    margin-top: 12px;
  }
}

.cart__list .cards .card__text h4 {
  padding-bottom: 42px;
  font-size: 24px;
  line-height: 29px;
  color: #575757;
}

@media (max-width: 650px) {
  .cart__list .cards .card__text h4 {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 25px;
  }
}

.cart__list .cards .card__text p {
  padding-bottom: 6px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

@media (max-width: 650px) {
  .cart__list .cards .card__text p {
    font-size: 14px;
    line-height: 17px;
  }
}

.cart__list .cards .card__X svg {
  margin-right: 22px;
  margin-top: 22px;
}

@media (max-width: 650px) {
  .cart__list .cards .card__X svg {
    width: 10px;
    height: 10px;
    margin-right: 17px;
    margin-top: 12px;
  }
}

.cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 72px;
}

@media (max-width: 1030px) {
  .cart__buttons {
    margin-top: 62px;
  }
}

@media (max-width: 650px) {
  .cart__buttons {
    margin-top: 30px;
  }
}

.cart__buttons div {
  height: 49px;
  width: 234px;
  border: 1px solid #A4A4A4;
}

@media (max-width: 650px) {
  .cart__buttons div {
    height: 32px;
    width: 174px;
  }
}

.cart__buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 650px) {
  .cart__buttons a {
    font-size: 12px;
    line-height: 14px;
    padding: 8px;
  }
}

.cart__buttons a:hover {
  color: white;
  background: black;
}

.cart__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

@media (max-width: 1030px) {
  .cart__form {
    margin-top: 49px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .cart__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cart__form .form {
  margin-top: 15px;
  margin-bottom: 57px;
  width: 360px;
}

.cart__form .form legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.cart__form .form input {
  width: 100%;
  height: 44px;
  margin-bottom: 21px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.cart__form .form button {
  background: none;
  height: 34px;
  width: 100px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  cursor: pointer;
}

.cart__form .form button:hover {
  background: #4A4A4A;
  color: #A4A4A4;
}

.cart__form .checkout {
  height: 214px;
  width: 360px;
  background: #F5F3F3;
  text-align: center;
}

@media (max-width: 1030px) {
  .cart__form .checkout {
    margin-top: 48px;
  }
}

.cart__form .checkout h4 {
  margin: 39px 34px 12px 0;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
}

.cart__form .checkout h3 {
  margin-bottom: 21px;
  margin-right: 37px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
}

.cart__form .checkout div {
  height: 50px;
  width: 273px;
  margin: 17px auto;
  background: #F16D7F;
}

.cart__form .checkout div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.cart__form .checkout div a:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cart .decor {
  color: #F16D7F;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 675px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  height: 100%;
  padding-bottom: 96px;
  padding-top: 64px;
}

.registration__form p {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration legend {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__input {
  display: block;
  height: 45px;
  width: 100%;
  padding: 15px;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
  margin: 20px 0;
}

.registration__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 146px;
}

.registration__radio label {
  cursor: pointer;
}

.registration__radio input {
  cursor: pointer;
}

.registration__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 167px;
  color: white;
  background: #F16D7F;
  border: none;
  cursor: pointer;
}

.registration__button h5 {
  padding-left: 30px;
  font-size: 14px;
  line-height: 17px;
}

.registration__button svg {
  margin: 20px;
  fill: white;
}

.registration__button:hover {
  background: white;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.registration__button:hover svg {
  fill: #F16D7F;
}

.registration__bonus {
  width: 65%;
  padding-bottom: 96px;
  padding-top: 64px;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__bonus h3 {
  padding: 16px;
}

.registration__bonus p {
  padding: 16px;
}

.registration__bonus li {
  padding: 16px;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  list-style-image: url(img/V.svg);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: -40px;
  position: relative;
}

.filter__button {
  font-size: 14px;
  line-height: 17px;
  border: none;
  background: none;
  margin-left: 15px;
  cursor: pointer;
}

.filter__param {
  font-size: 14px;
  line-height: 17px;
  border: none;
  background: none;
  margin-left: 15px;
  cursor: pointer;
}

.filter .sortby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.filter .size {
  position: relative;
}

.filter .filter-menu {
  display: none;
}

.filter .filter__nav {
  position: absolute;
  z-index: 10;
  background: white;
  width: 79px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  top: 24px;
  left: 0px;
}

.filter .filter__nav li {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  padding: 6px;
}

.filter .filter-menu:checked ~ .filter__nav {
  display: block;
}

.filter .filter-menu:not(checked) ~ .filter__nav {
  display: none;
}

.filter details {
  position: absolute;
  top: 40px;
  z-index: 10;
  background: white;
  cursor: pointer;
}

.filter details summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  list-style: none;
  padding: 15px;
}

.filter details .filter__title {
  font-size: 14px;
  line-height: 17px;
}

.filter details h3 {
  border-left: 10px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
  margin: 17px;
  font-size: 14px;
  line-height: 17px;
}

.filter details li {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 10px 34px;
  list-style: none;
}

.filter details li:hover {
  color: #F16D7F;
}

.filter details[open] {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.filter details[open] summary {
  color: #F16D7F;
}

.filter details[open] svg {
  fill: #F16D7F;
}

.page__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 18px 0 95px 0;
  text-decoration: none;
}

.page__selector ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.page__selector li {
  padding: 12px;
  color: #EBEBEB;
}

.page__selector a {
  text-decoration: none;
  color: #F26376;
}

.catalog__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border: 1px solid #EBEBEB;
  width: auto;
}

.page__number {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: white;
  padding: 14px 15px 14px 15px;
  border: none;
  text-decoration: none;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f7f7f7;
  height: 777px;
  background-image: url(img/item1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.item__image {
  padding-bottom: 42px;
}

.item__info {
  height: 601px;
  margin-top: -41px;
  background: white;
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item__info__title {
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.pink__stripe {
  margin-top: -20px;
  margin-bottom: -20px;
}

.item__info__dis {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  max-width: 555px;
}

.item__info__price {
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.choose__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: -40px;
}

.ADD {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: white;
  padding: 14px 38px 14px 38px;
  border: 1px solid #F16D7F;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.ADD svg {
  fill: #F26376;
}

.ADD:hover {
  background: #F26376;
  color: white;
}

.ADD:hover svg {
  fill: white;
}

@media (max-width: 1200px) {
  .header__wrap {
    padding-left: 32px;
    padding-right: 32px;
  }
  .pagetitle__wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 1120px) {
  .shop__wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .item__info {
    margin-top: 0px;
  }
  .last-sh {
    display: none;
  }
  .special {
    height: 610px;
  }
  .special__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 39px;
  }
  .subscribe {
    height: 693px;
  }
  .subscribe__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .subscribe__form {
    width: 100%;
  }
  .sortby {
    padding-left: 80px;
    padding-right: 10px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 1030px) {
  .cart__items {
    width: 100%;
  }
}

@media (max-width: 810px) {
  .promo__wrap {
    background: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .line {
    display: none;
  }
}

@media (min-width: 810px) {
  .line-mini {
    display: none;
  }
}

@media (max-width: 768px) {
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1300px;
  }
  .registration__form {
    width: 100%;
    padding-bottom: 0px;
  }
  .registration__bonus {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .pagetitle__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .filter summary {
    width: 40px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .filter__title {
    display: none;
  }
}

@media (max-width: 400px) {
  .header__item:not(:first-child) {
    display: none;
  }
  .header__item:not(:last-child) {
    margin-right: 0px;
  }
  .category :not(:last-child) {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */